@font-face {
    
    
    /*
    font-family: 'permanent_markerregular';
    src: url('fonts/permanentmarker/PermanentMarker.eot');
    src: url('fonts/permanentmarker/PermanentMarker.eot?#iefix') format('embedded-opentype'),
         url('fonts/permanentmarker/PermanentMarker.woff2') format('woff2'),
         url('fonts/permanentmarker/PermanentMarker.woff') format('woff'),
         url('fonts/permanentmarker/PermanentMarker.ttf') format('truetype'),
         url('fonts/permanentmarker/PermanentMarker.svg#permanent_markerregular') format('svg');
    */
    
    font-family: 'Audiowide';
    src: url('files/fonts/Audiowide/Audiowide-Regular.ttf');
    src: url('files/fonts/Audiowide/Audiowide-Regular.ttf') format('truetype'), 

    font-weight: normal;
    font-style: normal;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #a6a6a6;
  font-family: 'sans-serif';
  font-weight: 450; /* original= lighter   normal and bold are nice too*/
  background-color: #1c1c21;
  line-height: 1.7;
}
/* original bg color  background-color: #8790ab; */

a {
  font-size: 1em;
}

a:link {
  color: #a6a6a6;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #a6a6a6;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: RoyalBlue;
  text-decoration: none;
}

/* selected link */
a:active {
  color: MediumOrchid;
  text-decoration: none;
} 

header {
  background-color: #3f465a;
  padding: 20px;
  text-align: center;
  color: #fefefe;
  font-family: "Audiowide", sans-serif;
  font-size: 1.5em;
}

header a:link, a:visited {
  color: #a6a6a6;
  text-decoration: none;
}

header a:hover, a:active {
  background-color: #525b66;
  color: #a6a6a6;
  text-decoration: none;
}

h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
  color: #fefefe;
  text-decoration: none;
  background: none;
}

h2 {
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #3f465a;
  border: 1px solid #000000;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  color: #a6a6a6;
 
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Audiowide", sans-serif;
}

.topnav a:hover, a:active {
  background-color: #3f465a;
  color: #a6a6a6;
  text-decoration: none;
}
  
h3, h4 {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 4px;
  padding: 0;
}

h3 {
  font-size: 1.4em;
  background-color: #545d78;
  padding: 10px;
  border: 1px solid #000000;
  color: #b8c0c7;
  font-family: "Audiowide", sans-serif;;
}

h4 {
  font-size: 1.3em;
  padding-left: 10px;
  color: #3f465a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

li {
  display: inline;
}

li:after {
  content: " "; //*     content: ", ";       #places comma after each link   *//
}

li:last-child:after {
  content: "";
}

.alpha {
  display: inline;
}

.alpha:after {
  content: "";
}

.column {
  float: left;
  width: 20%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  padding-bottom: 0;
  padding-top: 0;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
padding-left: 10px;
}

li {
  display: block;
}

li:after {
  content: "";
}

.alpha {
  display: inline;
}
}
