/* CSS for va7fk index */

@font-face {    
    font-family: 'Michroma';
    src: url('files/fonts/michroma/Michroma.ttf');
    src: url('files/fonts/michroma/Michroma.ttf') format('truetype'), 
}

body {
  background-color: #e8e8e8;
  color: black;
/*    
  font-family: Courier;
*/
  font-style: normal;
  font-weight:bold;
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:20px;
  color:#444;
  padding:0 10px
}

h1,h2,h3{line-height:1.}

.button {
        background-color: white;
        border: dashed;
        color: black;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 22px;
        margin: 4px 2px;
        cursor: pointer;
      }
