/* CSS for va7fk index */

@font-face {
    font-family: 'JuraBook';
    src: url('/files/fonts/jura/JuraBook.ttf');
    src: url('/files/fonts/jura/JuraBook.ttf') format('truetype'),
/*
    @font-face {
    font-family: 'Michroma';
    src: url('files/fonts/michroma/Michroma.ttf');
    src: url('files/fonts/michroma/Michroma.ttf') format('truetype'),
    
    font-family: 'Calculative';
    src: url('/files/fonts/calculative/Calculative.ttf');
    src: url('/files/fonts/calculative/Calculative.ttf') format('truetype'),
    
    font-family: 'JuraBook';
    src: url('/files/fonts/jura/JuraBook.ttf');
    src: url('/files/fonts/jura/JuraBook.ttf') format('truetype'),
    
    font-family: 'JuraMedium';
    src: url('/files/fonts/jura/JuraMedium.ttf');
    src: url('/files/fonts/jura/JuraMedium.ttf') format('truetype'),
*/
}

body {
  background-color: #e8e8e8;
  color: black;
/*    
  font-family: Courier;
*/
  font-family: 'JuraBook';
  font-style: normal;
  font-weight: normal;
  font-size:1.1em;
  margin:40px auto;
  max-width:850px;
  line-height:1.6;
  color:black;
  padding:0 10px
}




.dark-mode {
  background-color: black;
  color: white;
}





p {
  font-size: 1.1em;
}

h1,h2,h3{line-height:1.}

h1 {
  font-size: 2em;
  font-weight: bold;
}

.button {
        background-color: white;
        border: dashed;
        color: black;
        padding: 10px 19px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 26px;
        margin: 4px 2px;
        cursor: pointer;
      }
